<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BspTawrCEAAwQnP.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/6bdYFIyc3e</string>
		<key>word</key>
		<string>がんばる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BspTkipCIAE4a0n.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/7hvwgRmZ2r</string>
		<key>word</key>
		<string>がんばる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BspWSkvCAAAMi43.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/VMJbHYLznB</string>
		<key>word</key>
		<string>がんばる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BspWVoqCEAADtZ4.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/Y3ht2Ud94J</string>
		<key>word</key>
		<string>がんばる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BspWaPYCAAAI6Ui.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/7s5Ke5IQVs</string>
		<key>word</key>
		<string>がんばる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BswuTdaCQAAQCkg.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/mrkPJC3DYc</string>
		<key>word</key>
		<string>がんばる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/Bvz_j7BIQAA-2ZU.png</string>
		<key>src</key>
		<string>pic.twitter.com/2hdOwqy8kB</string>
		<key>word</key>
		<string>がんばる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BspWc7LCAAAPzhS.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/DE1dKyLsav</string>
		<key>word</key>
		<string>あきらめる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BspWfqoCYAE836J.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/lkDaoEEC7H</string>
		<key>word</key>
		<string>あきらめる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BtcSLNRCMAAFGoH.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/jEHjdl6k3N</string>
		<key>word</key>
		<string>あきらめる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BtcSIHmCUAA8Prp.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/IPsYt9K1t2</string>
		<key>word</key>
		<string>あきらめる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BswuLr2CMAA1SpE.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/ltC7iuI7rd</string>
		<key>word</key>
		<string>かえる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BtcSRdRCMAArUCS.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/jjXJFYBZjy</string>
		<key>word</key>
		<string>きたく</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BspWlZFCMAA4fmV.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/rWLIjU08mU</string>
		<key>word</key>
		<string>ごはんにする</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BswuMrPCEAEECXg.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/g0tGY4FtE4</string>
		<key>word</key>
		<string>ごはんにする</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BtcSOp6CcAA9_b4.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/lcvdPWUnm7</string>
		<key>word</key>
		<string>ごはんにする</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BtcSFKpCQAAb73x.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/J3NNfZqfFF</string>
		<key>word</key>
		<string>ごはんにする</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BspWoBQCcAAm9y5.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/Qa4OOuaSb4</string>
		<key>word</key>
		<string>ねる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BtcSM8BCYAE3_8j.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/4gZWKWEosT</string>
		<key>word</key>
		<string>ねる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/Bv91ihIIMAEKl46.png</string>
		<key>src</key>
		<string>pic.twitter.com/3k42enLKAy</string>
		<key>word</key>
		<string>ねる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BswuH1qCcAAueYw.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/TzK4f6K8Cf</string>
		<key>word</key>
		<string>わかった</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BswuNkICcAE4olR.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/npWAwmcME6</string>
		<key>word</key>
		<string>いけるきがする</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BswuJviCYAMCdGc.png</string>
		<key>src</key>
		<string>pic.twitter.com/yh1ObvxjVI</string>
		<key>word</key>
		<string>あせる</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/Bsw1StjCQAA9NQ1.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/s9R0mikezN</string>
		<key>word</key>
		<string>しんちょくだめです</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BswuUTPCYAAVX5n.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/onsbKNL4H7</string>
		<key>word</key>
		<string>きゅうけいにする</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BtcSU0xCcAAmz_W.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/GBqizwBB0Y</string>
		<key>word</key>
		<string>きゅうけいにする</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/Bs7qd4uCAAAwalT.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/4EWdIZGmuG</string>
		<key>word</key>
		<string>おはようございまーす</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/Bts7OpFCcAEkaO4.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/cGdCEaSfyt</string>
		<key>word</key>
		<string>おはようございまーす</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BtcSG05CMAEEyIG.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/NYs5I3aDP3</string>
		<key>word</key>
		<string>つかれた</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BtcSDbWCQAADuhK.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/LCn2AKuz2s</string>
		<key>word</key>
		<string>ありがとうございます</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/Bts7BNsCMAASKsP.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/ThDlCfuyba</string>
		<key>word</key>
		<string>やった</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/Bv9V_L0IQAAezI2.png</string>
		<key>src</key>
		<string>pic.twitter.com/6TJwjogyli</string>
		<key>word</key>
		<string>みてない</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/Bv9TUBcCUAAf0_y.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/uW4FWfXL8l</string>
		<key>word</key>
		<string>ふぇ</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/Bv8lu3RIAAA-N5_.png</string>
		<key>src</key>
		<string>pic.twitter.com/NSyR7wrxRU</string>
		<key>word</key>
		<string>そやな</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/Bv4MyE7IEAArqbH.png</string>
		<key>src</key>
		<string>pic.twitter.com/YkDI3Yu7o0</string>
		<key>word</key>
		<string>あ……は…っ</string>
	</dict>
	<dict>
		<key>image</key>
		<string>https://pbs.twimg.com/media/BvefNGtCUAA4nhm.jpg</string>
		<key>src</key>
		<string>pic.twitter.com/V85wHEkcWZ</string>
		<key>word</key>
		<string>あ……は…っ</string>
	</dict>
</array>
</plist>
